*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2e2e2e;
}
main{
    flex-grow: 1;
}
.card {
    background-color: #1f1f1f;
    border: none;
}
.btn-primary {
    background-color: #6200ea;
    border: none;
}
.btn-primary:hover {
    background-color: #3700b3;
}
.product-card {
    background-color: #2f2f2f;
    border: solid #4f4f4f;
    padding: 50px;
    text-align: center;
}
.page-counter{
    display: flex;
    justify-content: center;
    p{
        margin: 10px;
        margin-top: -4px;
        font-size: 1.5em;
    }
}
#fondo{
    position: fixed;
    z-index: -1;
    width: 2000px;
    height: auto;
    left: -100px;
    mask-image: linear-gradient(
        transparent,
        #ffffff 10%,
        #ffffff 90%,
        transparent
    );
}